<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,800,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/Images/logoHead.png" />
                    </div>
                    <div class="col-md-8 floatR">
                        <a href="tel:7046844751" class="linkText floatR">
                            <img src="~/Content/Images/phone_icon.png" alt="" title="" />
                            704.684.4751
                        </a>
                        <ul class="nav navbar-nav nav_menu floatR">
                            <li class="dropdown">
                                <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                                    Create Return
                                    <span class="caret"></span>
                                </span>
                                <ul class="dropdown-menu">
                                    <li class="active" id="liformw2return"><a href="/formw2/formw2return">Form W-2</a></li>
                                    <li class="active" id="liform941return"><a href="/form941/form941return">Form 941 </a></li>
                                    <li class="active" id="liform941Schrreturn"><a href="/Form941SCHR/Index">Form 941 SCHR</a></li>
                                </ul>
                            </li>
                            <li id="liefilestatus"><a href="/efile/efilestatus">EFile Status</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
    <div class="body-content container">
        @RenderBody()
    </div>
    <footer></footer>
    @RenderSection("scripts", required: false)
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width:1000px">
            <div class="modal-content" id="ModelBody">
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>
