@model APIClientTool.ViewModels.ErrorResponse
<div class="modal-header edit-modal-header">
    <button type="button" class="close" data-dismiss="modal"></button>
    <h4 id="form_heading" class="modal-title">
        Reponse Status
    </h4>
</div>
<div class="modal-body edit-modal-body white_bg">
    @if (Model != null && Model.Messages != null && Model.Messages != null)
    {
        <table class="table tab-content">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td>Message</td>
                    <td>Type</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Messages)
                {
                    <tr>
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td>@item.Message</td>
                        <td>@item.Type</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table>
            <tr>
                @if (!string.IsNullOrWhiteSpace(ViewBag.responseJson))
                {
                    <td class="taC">
                        @ViewBag.responseJson
                    </td>
                }
                else
                {
                    <td class="taC">
                        No Result
                    </td>
                }
            </tr>
        </table>
    }
</div>

<div class="modal-footer edit-modal-footer mTopNo">

</div>

<script type="text/javascript">
    $(function () {


    })
</script>

