@model APIClientTool.ViewModels.FormW2
@{
    ViewBag.Title = "CreateFormW2Return";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "createreturnForm" }))
{
    <div class="container">
        <h3>Create FormW2 Return</h3>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Employer Details</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td><label class="control-label">Employer Name:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.BusinessNm, new { @class = "form-control" })</td>
                                <td ><label class="control-label">Employer Type:</label></td>
                                <td>
                                    @Html.DropDownList("BusinessType", new[] {
                       new SelectListItem{ Text = "Estate", Value = "ESTE"},
                        new SelectListItem{ Text = "Partnership", Value = "PART"},
                         new SelectListItem{ Text = "Corporation", Value = "CORP"},
                          new SelectListItem{ Text = "Exempt Organization", Value = "EORG"},
                           new SelectListItem{ Text = "Sole Proprietorship", Value = "SPRO"}
                         }, "Select Employer Type", new { })
                                </td>
                            </tr>
                            <tr><td class="spacer10"></td></tr>
                            <tr>
                                <td> <label class="control-label">EIN:</label> </td>
                                <td>@Html.TextBoxFor(model => model.Business.EIN, new { @class = "form-control" })</td>
                                <td><label class="control-label">Address Line1:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.Address1, new { @class = "form-control" })</td>
                            </tr>
                            <tr><td class="spacer10"></td></tr>
                            <tr>
                                <td><label class="control-label">Address Line2:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.Address2, new { @class = "form-control" })</td>
                                <td><label class="control-label">City:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.City, new { @class = "form-control" })</td>
                            </tr>
                            <tr><td class="spacer10"></td></tr>
                            <tr>
                                <td><label class="control-label">State:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.USState, new { @class = "form-control" })</td>
                                <td><label class="control-label">Zip Code:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.PostalCd, new { @class = "form-control" })</td>
                            </tr>
                            <tr><td class="spacer10"></td></tr>
                            <tr>
                                <td><label class="control-label">Country:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.Country, new { @class = "form-control" })</td>
                                <td><label class="control-labeld">Contact Name:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.ContactNm, new { @class = "form-control" })</td>
                            </tr>
                            <tr><td class="spacer10"></td></tr>
                            <tr>
                                <td><label class="control-label">Email Address:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.Email, new { @class = "form-control" })</td>
                                <td><label class="control-label">Phone Number:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.Phone, new { @class = "form-control" })</td>
                            </tr>
                            <tr><td class="spacer10"></td></tr>
                            <tr>
                                <td><label class="control-label">Phone Extn:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.PhoneExtn, new { @class = "form-control" })</td>
                                <td><label class="control-label">Fax Number:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.Fax, new { @class = "form-control" })</td>
                            </tr>
                            <tr><td class="spacer10"></td></tr>
                            <tr>
                                <td><label class="control-label">Kind Of Employer:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.KindOfEmployer, new { @class = "form-control" })</td>
                                <td><label class="control-label">Employment Code:</label></td>
                                <td>@Html.TextBoxFor(model => model.Business.EmploymentCd, new { @class = "form-control" })</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Employee Details</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2">SSN:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Employee.SSN, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">First Name:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Employee.FirstNm, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Last Name:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Employee.LastNm, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Suffix:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Employee.Suffix, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Address Line1:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Business.Address1, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Address Line2:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Business.Address2, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">City:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Business.City, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">State:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Business.USState, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Zip Code:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Business.USZip, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Country:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Business.Country, new { })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">FormW2 Details</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Wages and tips:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box1, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Federal income tax withheld:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box2, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Social security wages:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box3, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Social security tax withheld:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box4, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Medicare wages and tips:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box5, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Medicare tax withheld:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box6, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Social security tips:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box7, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Allocated tips:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box8, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Verification code:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box9, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Dependent care benefits:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box10, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Nonqualified plans:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box11NonqualifiedPlan, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">12a See instructions for box 12</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box12aCd, new { })
                                @Html.TextBoxFor(model => model.FormW2Details.Box12aAmt, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">12b See instructions for box 12</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box12bCd, new { })
                                @Html.TextBoxFor(model => model.FormW2Details.Box12bAmt, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">12c See instructions for box 12</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box12cCd, new { })
                                @Html.TextBoxFor(model => model.FormW2Details.Box12cAmt, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">12d See instructions for box 12</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box12dCd, new { })
                                @Html.TextBoxFor(model => model.FormW2Details.Box12dAmt, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Statutory Employee</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box13IsStatutoryEmployee, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Retirement plan</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box13IsRetirementPlan, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Third-party sick pay</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box13IsThirdPartySickpay, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Other</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box14, new { })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">State Details</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2">State:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box15State1, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Employer’s state ID number:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box15State1IDNumber, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">State wages, tips, etc.:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box16State1Wages, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">State income tax:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box17State1Tax, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Local wages, tips, etc.:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box18Local1Wages, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Local income tax:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box19Local1Tax, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Locality name:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box20Locality1Name, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">State:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box15State2, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Employer’s state ID number:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box15State2IdNumber, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">State wages, tips, etc.:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box16State2Wages, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">State income tax:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box17State2Tax, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Local wages, tips, etc.:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box18Local2Wages, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Local income tax:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box19Local2Tax, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Locality name:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.FormW2Details.Box20Locality2Name, new { })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="spacer10"></div>
<div class="taC">
    <button type="button" class="btn btn-success btn-md" onclick="GetStatus()"> Efile Now</button>
</div>


<script type="text/javascript">

    $(function () {

    });

    function GetStatus() {
        ShowAPIStatus();       
    }


    function ShowAPIStatus() {
        var formdata = $("#createreturnForm").serialize();
        $.ajax({
            url: "/FormW2/APIResponseStatus/",
            cache: false,
            data: formdata,
            success: function (data) {
                $(".modal-dialog").addClass("edit-dialog");
                $('#ModelBody').html(data);
                $('#myModal').modal("show");
            },
            error: function (err) {
                console.log(err.responseText);
            }
        });
    }
</script>
